@model Anketa.Models.Survey
@*@model Tuple<Anketa.Models.Survey, IEnumerable<Anketa.Models.Question>>*@
@{
    ViewBag.Title = "Edit";
}
@* http://stackoverflow.com/questions/4764011/multiple-models-in-a-view
   http://stackoverflow.com/questions/5550627/two-models-in-one-view-in-asp-mvc-3/13813476#13813476
   http://stackoverflow.com/questions/4764011/multiple-models-in-a-view/13823027#13823027
   http://stackoverflow.com/questions/7745938/better-naming-in-tuple-classes-than-item1-item2
*@
<h2>Edit survey</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.surveyID)
        @*@Html.HiddenFor(tuple => tuple.Item1.surveyID)*@

        <div class="form-group">
            @Html.LabelFor(model => model.ownerID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ownerID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ownerID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.surveyName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.surveyName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.surveyName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.creationDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.creationDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.creationDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.surveyActive, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.surveyActive)
                    @Html.ValidationMessageFor(model => model.surveyActive, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Edit questions", "Edit", new { controller = "Questions" }, new{ @class = "btn btn-success"} )
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<hr />

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
