@model Anketa.Models.SurveyModels.SurveyEditModel
@using Microsoft.AspNet.Identity;
@using Anketa.Models;
@using Microsoft.AspNet.Identity.EntityFramework;
@using Anketa.App_Start;
@using System.Web.Mvc;
@{
    ViewBag.Title = "Edit";
}
@* http://stackoverflow.com/questions/4764011/multiple-models-in-a-view
   http://stackoverflow.com/questions/5550627/two-models-in-one-view-in-asp-mvc-3/13813476#13813476
   http://stackoverflow.com/questions/4764011/multiple-models-in-a-view/13823027#13823027
   http://stackoverflow.com/questions/7745938/better-naming-in-tuple-classes-than-item1-item2
   http://stackoverflow.com/questions/8186012/how-can-i-get-the-property-name-in-my-mvc3-custom-editor-template
   http://stackoverflow.com/questions/4764011/multiple-models-in-a-view/13823027#13823027
   http://stackoverflow.com/questions/7745938/better-naming-in-tuple-classes-than-item1-item2
*@
            <div id="_AjaxInfoMessage"></div>
            @Html.Partial("~/Views/Surveys/Partials/_EditPartial.cshtml", Model.surveyModel )
				<ul class="sortable" id="questionPlaceholder">
                @foreach (var questionItem in Model.questionsModel) {
					<li>
                    @Html.Partial("~/Views/Questions/Partials/_QuestionListPartial.cshtml", questionItem )
					</li>
                }
				</ul>  
            @Ajax.ActionLink("Add question", "_AjaxAddQuestion","Questions", null,  new AjaxOptions{UpdateTargetId = "questionPlaceholder", InsertionMode = InsertionMode.InsertAfter, OnSuccess = "reinitializeQuestion()"}, new{ @class = "btn btn-success"})
            @Ajax.ActionLink("Save survey", "SaveSurvey","Surveys", null,  new AjaxOptions{UpdateTargetId = "questionPlaceholder", InsertionMode = InsertionMode.InsertAfter, OnSuccess = "reinitializeQuestion()"}, new{ @class = "btn btn-warning pull-right"})
			@Html.ActionLink("Save survey", "SaveSurvey","Surveys", null , new{ @class = "btn btn-warning pull-right"} )