@model Anketa.Models.Answer
	 @Html.HiddenFor(model => model.answerID)

	<div @(@Model.questionType == 0 ? "" : "hidden") class="form-group descriptionAnswer">
		@Html.LabelFor(model => model.answerText, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.answerText, new { htmlAttributes = new { @class = "form-control disabled answerPart" , placeholder = "Answer will look like this" } })
			</div>
	</div>

	<div @(@Model.questionType == 3 ? "" : "hidden") class="form-group scaleAnswers">
		@Html.LabelFor(model => model.minAnswerValue, "Scale values:", htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-5">
				<label for="minAnswerValue"> From: </label>
				@Html.EditorFor(model => model.minAnswerValue, new { htmlAttributes = new { @class = "form-control answerPart" , min = "0" } })
			</div>
			<div class="col-md-5">
				<label for="maxAnswerValue"> To: </label>
				@Html.EditorFor(model => model.maxAnswerValue, new { htmlAttributes = new { @class = "form-control answerPart" , min = "0"  } })
			</div>
	</div>

	@if(Model.selectAnswers != null){
	<div @(@Model.questionType == 1 ? "" : "hidden") class="form-group multipleAnswers">
		@Html.LabelFor(model => model.selectAnswers, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				<ul class="sortable" id="selectList">
                @foreach (var selectItem in Model.selectAnswers) {
					<li class="choiceItem"> 
						@Html.Partial("~/Views/Answer/Partials/_SelectPartial.cshtml", selectItem )
					</li>
                }
				</ul>
				<button class="btn btn-success btn-xs addMultiple" type="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add choice</button>
			</div>
	</div>
	}

	@if(Model.radioAnswers != null){
	<div @(@Model.questionType == 2 ? "" : "hidden") class="form-group singleAnswers">
		@Html.LabelFor(model => model.radioAnswers, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				<ul class="sortable" id="radioList_@Model.questionID">
                @foreach (var radioItem in Model.radioAnswers) { 
						@Html.Partial("~/Views/Answer/Partials/_SinglePartial.cshtml", radioItem )
                }
				</ul>

				@Ajax.ActionLink( "Add choice", "_AjaxAddChoiceItemSingle","Answers", null,  new AjaxOptions{UpdateTargetId = "selectList_"+@Model.questionID, 
					InsertionMode = InsertionMode.InsertAfter, OnSuccess = "reinitializeQuestion()"}, new{ @class = "btn btn-success btn-xs addSingle"})
				<button class="btn btn-success duplicate-input-group btn-xs addSingle" type="button" value="radioList_@Model.questionID"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add choice</button>
			</div>
	</div>
	}