@model Anketa.Models.Answer
	 @Html.HiddenFor(model => model.answerID)

	<div @(@Model.questionType == 0 ? "" : "hidden") class="form-group descriptionAnswer">
		@Html.LabelFor(model => model.answerText, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.answerText, new { htmlAttributes = new { @class = "form-control disabled answerPart" , placeholder = "Answer will look like this" } })
			</div>
	</div>

	<div @(@Model.questionType == 3 ? "" : "hidden") class="form-group scaleAnswers">
		@Html.LabelFor(model => model.minAnswerValue, "Scale values:", htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-5">
				<label for="minAnswerValue"> From: </label>
				@Html.EditorFor(model => model.minAnswerValue, new { htmlAttributes = new { @class = "form-control answerPart" , min = "0" } })
			</div>
			<div class="col-md-5">
				<label for="maxAnswerValue"> To: </label>
				@Html.EditorFor(model => model.maxAnswerValue, new { htmlAttributes = new { @class = "form-control answerPart" , min = "0"  } })
			</div>
	</div>

	@if(Model.selectAnswers != null){
	<div @(@Model.questionType == 1 ? "" : "hidden") class="form-group multipleAnswers">
		@Html.LabelFor(model => model.selectAnswers, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				<ul class="sortable" id="selectList">
                @foreach (var selectItem in Model.selectAnswers) {
					<li class="choiceItem"> 
						@Html.Partial("~/Views/Answer/Partials/_SelectPartial.cshtml", selectItem )
					</li>
                }
				</ul>
			</div>
	</div>
	}

	@if(Model.radioAnswers != null){
	<div @(@Model.questionType == 2 ? "" : "hidden") class="form-group singleAnswers">
		@Html.LabelFor(model => model.radioAnswers, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				<ul class="sortable" id="selectList">
                @foreach (var radioItem in Model.radioAnswers) {
					<li class="choiceItem"> 
						@Html.Partial("~/Views/Answer/Partials/_SinglePartial.cshtml", radioItem )
						<button class="btn btn-danger glyphicon glyphicon-minus" type="button"></button>
					</li>
                }
				</ul>
				<button class="btn btn-success btn-xs" type="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Answer</button>
			</div>
	</div>
	}