@using DynamicMVC.Managers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Surveys - TVZ Students Application</title>

    @Styles.Render("~/Content/bundle/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")

    @* Datatables *@
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
    
    @*<link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css" />*@
    <link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css" />


</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-menu">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="collapse navbar-collapse" id="main-menu">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Surveys", "Survey", "Home")</li>
                    @foreach (var menuItemViewModel in DynamicMVC.Managers.DynamicMVCManager.GetDynamicMenuItems())
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">@menuItemViewModel.DisplayName <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                @foreach (var childMenuViewModel in menuItemViewModel.DynamicMenuItemViewModels)
                                {
                                    <li><a href="@Url.Action("Index", childMenuViewModel.DynamicEntityMetadata.EntityMetadata.TypeName)">@(childMenuViewModel.DisplayName)</a></li>
                                }
                            </ul>
                        </li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
		@*@Html.RenderScripts()  useless in the end*@
		@*https://bitbucket.org/forloop/forloop-htmlhelpers/wiki/Home*@
    </div>
<nav class="navbar navbar-inverse navbar-fixed-bottom">
            <div class="container-fluid">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-f" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-f">
                  <ul class="nav navbar-nav">
                    <li role="presentation">
                        @Html.ActionLink(HttpUtility.HtmlDecode("&copy;") + DateTime.Now.Year + " - David Čubela, Damir Davarović, Tehničko Veleučilište u Zagrebu", "Contact", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </li>
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                     <li role="presentation" class="navbar-right navbar-control">
                        <!-- top of the page anchor -->
                        <a href="#top" id="backToTop">
                            <span class="glyphicon glyphicon-arrow-up"></span> 
                                Back to top
                            <span class="glyphicon glyphicon-arrow-up"></span> 
                        </a>
                     </li>
                  </ul>
                </div><!-- /.navbar-collapse -->
            </div>
        </nav>


    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
