@model IEnumerable<Anketa.Models.Survey>
@using Microsoft.AspNet.Identity;
@using Anketa.Models;
@using Microsoft.AspNet.Identity.EntityFramework;
@{
    ViewBag.Title = "Surveys";
@*    var currentUser = 0;
    var surveyUser = -1;
    var manager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new ApplicationDbContext()));
    var userIdentity = User.Identity.GetUserId();
    if (userIdentity != null)
    {
        ViewBag.User = manager.FindById(userIdentity).UserProfileInfo.Id;
    }   
    primjer mogućnosti van controllera. U biti isti kod, ali ovdje nemaš autocomplete i zujiš*@
}
<h2>@ViewBag.Title</h2>

<ul class="nav nav-pills">
    <li role="presentation" class="active"><a data-toggle="pill" href="#all">All Surveys</a></li>
    @if(Request.IsAuthenticated){
    <li role="presentation"><a data-toggle="pill" href="#my">My Surveys</a></li>
    }
</ul>

<div>
    <p>@Html.ActionLink("Create a New Survey", "Create", new { controller = "Surveys" }, new{ @class = "btn btn-success btn-lg mt20"} )</p>
        @* new{ @class = false ? "btn btn-success btn-lg mt20" : "btn-disabled btn btn-success btn-lg mt20"} *@ 
        @* a way to add custom CSS *@
</div>


<div class="tab-content">
    <div id="all" class="tab-pane fade in active">
        <h3>Surveys created and waiting to be solved.</h3>
        <p>All Surveys...</p>
        <table id="all-surveys">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ownerID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.surveyName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.creationDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.surveyActive)
                    </th>
                    <th>
                        Actions:
                    </th>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ownerID) 
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.surveyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.creationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.surveyActive)
                </td>
                
                <td> 
                    @if(@ViewBag.User == Convert.ToInt64(item.ownerID)) { 
                    @Html.ActionLink("Edit", "Edit" , new { controller = "Surveys" , Id = item.surveyID })  
                    @Html.Raw(" | ")
                    @Html.ActionLink("Details", "Details", new { controller = "Surveys" , Id = item.surveyID }) 
                    @Html.Raw(" | ")
                    @Html.ActionLink("Delete", "Delete", new { controller = "Surveys" , Id = item.surveyID })
                    }
                    else{
                        @Html.Raw("Sorry, but you have to be logged in!")
                    }
                </td>           
            </tr>
            }
            </tbody>
    </table>
    </div>
    <div id="my" class="tab-pane fade">
        <h3>Surveys you have created.</h3>
        <p>My Surveys...</p>
        <table id="my-surveys" class="display table" cellspacing="0" width="100%">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ownerID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.surveyName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.creationDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.surveyActive)
                </th>
            </tr>
            @foreach (var item in Model) {
            
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ownerID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.surveyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.creationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.surveyActive)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { controller = "Surveys" , Id = item.surveyID }) |
                    @Html.ActionLink("Details", "Details", new { controller = "Surveys" , Id = item.surveyID }) |
                    @Html.ActionLink("Delete", "Delete", new { controller = "Surveys" , Id = item.surveyID })
                </td>
            </tr>
                
            }
       </table>
    </div>
</div>