@model IEnumerable<Anketa.Models.Survey>
@using Microsoft.AspNet.Identity;
@using Anketa.Models;
@using Microsoft.AspNet.Identity.EntityFramework;
@{
    ViewBag.Title = "Surveys";
    var manager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new ApplicationDbContext()));
    var currentUser = manager.FindById(User.Identity.GetUserId()).UserProfileInfo.Id;
}
<h2>@ViewBag.Title</h2>

<ul class="nav nav-pills">
    <li role="presentation" class="active"><a data-toggle="pill" href="#all">All Surveys</a></li>
    @if(Request.IsAuthenticated){
    <li role="presentation"><a data-toggle="pill" href="#my">My Surveys</a></li>
    }
</ul>

<div>
    <p>@Html.ActionLink("Create a New Survey", "Create", new { controller = "Surveys" }, new { @class = "btn btn-success btn-lg mt20" })</p>
</div>


<div class="tab-content">
    <div id="all" class="tab-pane fade in active">
        <h3>Surveys created and waiting to be solved.</h3>
        <p>All Surveys...</p>
        <table id="all-surveys">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ownerID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.surveyName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.creationDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.surveyActive)
                    </th>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ownerID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.surveyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.creationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.surveyActive)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit" , new { controller = "Surveys" , Id = item.surveyID }) |
                    @Html.ActionLink("Details", "Details", new { controller = "Surveys" , Id = item.surveyID }) |
                    @Html.ActionLink("Delete", "Delete", new { controller = "Surveys" , Id = item.surveyID })
                </td>
            </tr>
            }
            </tbody>
    </table>
<table id="table_id">
    <thead>
        <tr>
            <th>Column 1</th>
            <th>Column 2</th>
            <th>etc</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Row 1 Data 1</td>
            <td>Row 1 Data 2</td>
            <td>etc</td>
        </tr>
        <tr>
            <td>Row 2 Data 1</td>
            <td>Row 2 Data 2</td>
            <td>etc</td>
        </tr>
    </tbody>
</table>
    </div>
    <div id="my" class="tab-pane fade">
        <h3>Surveys you have created.</h3>
        <p>My Surveys...</p>
        <table id="my-surveys" class="display table" cellspacing="0" width="100%">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ownerID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.surveyName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.creationDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.surveyActive)
                </th>
            </tr>
            @foreach (var item in Model) {
            if(item.ownerID.AsInt() == currentUser){
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ownerID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.surveyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.creationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.surveyActive)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { controller = "Surveys" , Id = item.surveyID }) |
                    @Html.ActionLink("Details", "Details", new { controller = "Surveys" , Id = item.surveyID }) |
                    @Html.ActionLink("Delete", "Delete", new { controller = "Surveys" , Id = item.surveyID })
                </td>
            </tr>
                }
            }
       </table>
    </div>
</div>